<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dongdongwu.studycomposeui">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyComposeUi">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        compose基本学习-->
        <activity android:name=".composeui.studyhello.StudyHelloWord" />
        <!--        天气uiActivity-->
        <activity android:name=".tianqi.TianQiIconActivity" />
        <!--        华容道Activity-->
        <activity android:name=".huarongdao.HuaRongDaoActivity" />
        <!--        模仿俄罗斯游戏Activity-->
        <activity android:name=".eluosi.ELuSiActivity" />
        <!--        wanAndroid-->
        <activity android:name=".wanandroid.WanAndroidActivity" />
    </application>
</manifest>